/* index-html style */
html,body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #1F1F1F;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
div.center-background{
  width:1000px;
  height:100%;padding:10px;
  background-color:#4a0401;
  margin-left:auto;
  margin-right:auto;z-index:-1;
  border-left: 1px solid #b70601;
  border-bottom: 1px solid #b70601;
  border-right: 1px solid #b70601;
}
header{
  width: 1000px;
  height: 1970px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
header nav.main-nav{
  width: 1020px;
  height: 50px;
  background-color: #BA0000;
  position: relative;
  top: 30px;
  left: -10px;
  z-index: 2;
}
img.logo{
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  top: -15px;
  left: 430px;
}
a.nav-btn{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
a.left-btn{
  float: left;
}
a.right-btn{
  float: right;
}
a.nav-btn:hover{
  color: #21ECE2;
  color: green;
}
/* footer settings */
footer.footer{
  background-image: url(images/footerbg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
  height: 150px;
}
footer nav{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
}
a.footer-btn{
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  padding-top: 15px;
  margin-left: 18px;
}
a.footer-btn:hover{
  color: grey;
  border-bottom: 1px solid grey;
}
/* copyright and information */
div.information{
  width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
a.footer-email{
  position: relative;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
img.img-settings , a.footer-email{
  margin-left: 15px;
}
a.design-settings{
  position: relative;
  left: 260px;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
/* about.html - custom settings start here */
/* main-content */
h1.main-heading{
  font-weight: normal;
  font-size: 40px;
  font-style: italic;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
}
/* white dot image between buttons */
img.white-dot{
  position: relative;
  top: -3px;
}
/* white menu below heading */
a.about-nav{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0px 7px;
  font-size: 14px;
  text-transform: uppercase;
}
a.about-nav:hover{
  color: lightgreen;
}
/* indicator container,positioning the links */
div.indicator-container{
  width: 320px;
  position: relative;
  top: 95px;
  left: 674px;
}
/* 1 to 18 button indicators */
a.indicator-settings{
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 1px;
}
/* main content settings */
div.news-holder{
  position: relative;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  height: 250px;
  background: linear-gradient(135deg, #aa7227 0%,#d8c782 37%,#d8c782 44%,#8a5c20 100%);
}
div.title-date-holder{
  height: 28px;
  background-color: #950005;
}
h4.news-title{
  margin-top: 3px;
  margin-left: 15px;;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  float: left;
}
span.date-title{
  display: inline-block;
  float: right;
  margin-top: 3px;
  margin-right: 15px;
  font-size: 16px;
  color: white;
}
div.clear-both{
  width: auto;
  clear:both;
}
div.news-positioning{
  padding: 15px;
}
img.news-images{
  display: inline-block;
  position: absolute;
  left: 25px;
  top: 55px;
  width: 290px;
  height: 160px;
  border:1px solid white;
}
pre.text-positioning{
  position: absolute;
  text-align: justify;
  top: 40px;
  left: 225px;
  font-size: 15px;
}
a.news-btn{
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 13px;
  color: white;
  text-decoration: none;
  background: -webkit-linear-gradient(top, #ac0702, #850502);
  border-radius: 4px;
  padding: 1px 6px;
  line-height: 13px;
}
div.indicator-container-bottom{
  position: absolute;
  bottom: 15  px;
  right: 15px;
}
