/* index-html style */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1f1f1f;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
div.center-background {
  width: 1000px;
  height: 100%;
  padding: 10px;
  background-color: #4a0401;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
  border-left: 1px solid #b70601;
  border-bottom: 1px solid #b70601;
  border-right: 1px solid #b70601;
}
header {
  width: 1000px;
  /* height: 1970px; */
  padding-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
header nav.main-nav {
  width: 1020px;
  height: 50px;
  background-color: #ba0000;
  position: relative;
  top: 30px;
  left: -10px;
  z-index: 2;
}
img.logo {
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  top: -15px;
  left: 430px;
}
a.nav-btn {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
a.left-btn {
  float: left;
}
a.right-btn {
  float: right;
}
a.nav-btn:hover {
  color: #21ece2;
  color: green;
}
/* footer settings */
footer.footer {
  background-image: url(images/footerbg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
  height: 150px;
}
footer nav {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
}
a.footer-btn {
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  padding-top: 15px;
  margin-left: 18px;
}
a.footer-btn:hover {
  color: grey;
  border-bottom: 1px solid grey;
}
/* copyright and information */
div.ftr-logo-information {
  width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
a.footer-email {
  position: relative;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
img.img-settings,
a.footer-email {
  margin-left: 15px;
}
a.design-settings {
  position: relative;
  left: 260px;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
h1.main-heading {
  font-weight: normal;
  font-size: 40px;
  font-style: italic;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
}
/* white dot image between buttons */
img.white-dot {
  position: relative;
  top: -3px;
}
/* white menu below heading */
a.about-nav {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0px 7px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
a.about-nav:hover {
  color: lightgreen;
}
/* awards settings start here */
button.btn-style {
  margin-bottom: 10px;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  display: block;
  border: none;
  background: -webkit-linear-gradient(top, #5f1500, #511200);
  cursor: pointer;
}
p.title {
  float: left;
  color: white;
  font-size: 15px;
  position: relative;
  bottom: 10px;
  left: 10px;
}
p.awards {
  float: right;
  color: white;
  font-size: 15px;
  position: relative;
  right: 10px;
  bottom: 10px;
}
div.content-1,
div.content-2,
div.content-3,
div.content-4,
div.content-5,
div.content-6,
div.content-7,
div.content-8 {
  margin: 0;
  width: 900px;
  background: linear-gradient(
    135deg,
    #aa7227 0%,
    #d8c782 37%,
    #d8c782 44%,
    #8a5c20 100%
  );
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
img.content-image {
  float: left;
  margin-right: 20px;
}
span.content-text {
  text-align: left;
  text-align: justify;
  font-size: 16px;
  color: black;
  font-style: italic;
}
