/* index-html style */
html,body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #1F1F1F;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
div.center-background{
  width:1000px;
  height:100%;padding:10px;
  background-color:#4a0401;
  margin-left:auto;
  margin-right:auto;z-index:-1;
  border-left: 1px solid #b70601;
  border-bottom: 1px solid #b70601;
  border-right: 1px solid #b70601;
}
header{
  width: 1000px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
header nav.main-nav{
  width: 1020px;
  height: 50px;
  background-color: #BA0000;
  position: relative;
  top: 30px;
  left: -10px;
  z-index: 2;
}
img.logo{
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  top: -15px;
  left: 430px;
}
a.nav-btn{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
a.left-btn{
  float: left;
}
a.right-btn{
  float: right;
}
a.nav-btn:hover{
  color: #21ECE2;
  color: green;
}
/* footer settings */
footer.footer{
  background-image: url(images/footerbg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
  height: 150px;
}
footer nav{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
}
a.footer-btn{
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  padding-top: 15px;
  margin-left: 18px;
}
a.footer-btn:hover{
  color: grey;
  border-bottom: 1px solid grey;
}
/* copyright and information */
div.information{
  width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
a.footer-email{
  position: relative;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
img.img-settings , a.footer-email{
  margin-left: 15px;
}
a.design-settings{
  position: relative;
  left: 260px;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
/* magazine.html - custom settings start here */
/* main-content */
h1.main-heading{
  font-weight: normal;
  font-size: 40px;
  font-style: italic;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
}
a.top-links ,img.white-dot{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  padding-left: 5px;
}
a.red-button{
  color: white;
  text-decoration: none;
  background: -webkit-linear-gradient(top, #ac0702, #850502);
  display: inline-block;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 50px;

}
div.golden-gradient{
  background: linear-gradient(135deg, #aa7227 0%,#d8c782 37%,#d8c782 44%,#8a5c20 100%);
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  min-height: 500px;
}
h4.main-title{
  padding-left: 20px;
  display: block;
  width: 960px;
  height: 26px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: white;
  font-weight: normal;
  font-size: 16px;
  background: -webkit-linear-gradient(top, #950005, #850003);
}
p.main-text{
  font-style: italic;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 940px;
  text-align: left;
  text-align: justify;
}
div.content-left{
  display: inline-block;
  float: left;
  margin-left: 60px;
}
div.content-right{
  display: inline-block;
  float: right;
  margin-right: 140px;
}
button.btn-1, button.btn-2, button.btn-3{
  display: block;
  margin-bottom: 7px;
  width: 360px;
  height: 30px;
  background: -webkit-linear-gradient(top, #5f1500, #511200);
  border: none;
  cursor: pointer;
}
p.btn-position{
  color: white;
  text-align: left;
  margin: 0;
  margin-left: 10px;
  padding: 0;
}
div.content-1, div.content-2, div.content-3{
  display: none;
}
a.href{
  text-decoration: none;
  font-style: italic;
  font-size: 14px;
  color: white;
  display: block;
  padding-top: 10px;
}
span.href-text{
  font-style: italic;
  color: #c4161c;
  font-size: 14px;
  margin-right: 40px;
  float: right;
}
