/* index-html style */
html,body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #1F1F1F;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
div.center-background{
  width:1000px;
  height:100%;padding:10px;
  background-color:#4a0401;
  margin-left:auto;
  margin-right:auto;z-index:-1;
  border-left: 1px solid #b70601;
  border-bottom: 1px solid #b70601;
  border-right: 1px solid #b70601;
}
header{
  width: 1000px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
header nav.main-nav{
  width: 1020px;
  height: 50px;
  background-color: #BA0000;
  position: relative;
  top: 30px;
  left: -10px;
  z-index: 2;
}
img.logo{
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  top: -15px;
  left: 430px;
}
a.nav-btn{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
a.left-btn{
  float: left;
}
a.right-btn{
  float: right;
}
a.nav-btn:hover{
  color: #21ECE2;
  color: green;
}
/* footer settings */
footer.footer{
  background-image: url(images/footerbg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
  height: 150px;
}
footer nav{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
}
a.footer-btn{
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  padding-top: 15px;
  margin-left: 18px;
}
a.footer-btn:hover{
  color: grey;
  border-bottom: 1px solid grey;
}
/* copyright and information */
div.information{
  width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
a.footer-email{
  position: relative;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
img.img-settings , a.footer-email{
  margin-left: 15px;
}
a.design-settings{
  position: relative;
  left: 260px;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
/* about.html - custom settings start here */
/* main-content */
h1.main-heading{
  font-weight: normal;
  font-size: 40px;
  font-style: italic;
  color: white;
  margin-top: 60px;
  margin-bottom: 20px;
}
/* menu.css starts here */
div.menu-holder{
  padding-left: 10px;
  padding-right: 10px;
}
div.menu-image{
  display: inline-block;
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}
div.dostavka{
  width: 470px;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
