/* index-html style */
html,body{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: #1F1F1F;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
div.center-background{
  width:1000px;
  height:100%;padding:10px;
  background-color:#4a0401;
  margin-left:auto;
  margin-right:auto;z-index:-1;
  border-left: 1px solid #b70601;
  border-bottom: 1px solid #b70601;
  border-right: 1px solid #b70601;
}
header{
  width: 1000px;
  height: 610px;
  margin-left: auto;
  margin-right: auto;
}
header nav{
  width: 1020px;
  height: 50px;
  background-color: #BA0000;
  position: relative;
  top: -560px;
  left: -10px;
  z-index: 2;
}
img.logo{
  display: inline-block;
  position: absolute;
  border-radius: 10px;
  top: -15px;
  left: 430px;
}
a.nav-btn{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}
a.left-btn{
  float: left;
}
a.right-btn{
  float: right;
}
a.nav-btn:hover{
  color: #21ECE2;
  color: green;
}
/* main slideshow  */
div.slide-container{
  position: relative;
  top: 0;
  z-index: 1;
  margin:0;
}
div.slide-articles{
  width: 315px;
  height: 62px;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-style: italic;
  background-color: #BA0000;
  position: absolute;
  bottom: 50px;
  display: inline-block;
}
div.slide-articles:hover{
  background : #eaeaea;
  color: #860100;
}
span.heading-menu{
  display: block;
  font-size: 20px;
  text-align: center;
}
span.text-menu{
  font-size: 15px;
  text-align: center;
}
div.bottom-container{
  width: 996px;
  height: 222px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4a0401;
  position: relative;
}
article.article-left{
  display: inline-block;
  float: left;
  width: 325px;
  height: 222px;
  background: -webkit-linear-gradient(top, #eaeaea, #c1c1c1);
  position: absolute;
  top: 0;
  left: 0;
}
/* mini slideshow */
div.mini-slide-container{
  width: 660px;
  height: 222px;
  background: -webkit-linear-gradient(top, #eaeaea, #c1c1c1);
  position: relative;
  top:0;
  left: 338px;
}
span.mini-slide-text{
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: 5;
}
.animate-left{
  position: relative;
  animation: animateleft 1s;
}
@keyframes animateleft{
  from{right:-25px;opacity:0;}
  to{right:0;opacity:1;}
}
/* footer settings */
footer.footer{
  background-image: url(images/footerbg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: 50px;
  width: 100%;
  height: 150px;
}
footer nav{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  text-align: center;
}
a.footer-btn{
  text-decoration: none;
  color: white;
  font-size: 15px;
  margin-top: 15px;
  padding-top: 15px;
  margin-left: 18px;
}
a.footer-btn:hover{
  color: grey;
  border-bottom: 1px solid grey;
}
/* copyright and information */
div.information{
  width: 1000px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
a.footer-email{
  position: relative;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
img.img-settings , a.footer-email{
  margin-left: 15px;
}
a.design-settings{
  position: relative;
  left: 260px;
  top: -5px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
